@use "@carbon/react/scss/reset";
@use "@carbon/react/scss/grid";
@use "@carbon/react/scss/layer";
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme";
@use "@carbon/react/scss/fonts";

@use "@carbon/react/scss/components/modal";
@use "@carbon/react/scss/components/button";
@use "@carbon/react/scss/components/loading";
@use "@carbon/react/scss/components/search";
@use "@carbon/react/scss/components/checkbox";
@use "@carbon/react/scss/components/text-area";
@use "@carbon/react/scss/components/text-input";
@use "@carbon/react/scss/components/number-input";
@use "@carbon/react/scss/components/skeleton-styles";
@use "@carbon/react/scss/components/accordion";

// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body,
html {
  width: 100vw;
  height: 100vh;

  color: #525252;
  background: #eaeaea;
  
  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
}

body {
  display: flex;
  overflow-x: hidden;

  font-size: 16px;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #161616;
  margin: 0px;

  font-weight: 600;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

button {
  border: none;
  background: 0;
}
