body,
html {
  width: 100vw;
  height: 100vh;

  color: #000;
  background: #eaeaea;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
}

body {
  margin: 0;
  display: flex;
  overflow-x: hidden;

  font-size: 16px;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #161616;
  margin: 0px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

button {
  color: #fff;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  padding: 0.75rem;
  background: #3586ff;
  transition: all 0.2s ease-in-out;
  transition: background 0.5s ease-in-out;

  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 1.35rem;

  &:hover {
    opacity: 1;
  }
}

p {
  margin: 0.25rem 0;
  color: #000;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

b {
  font-weight: 600;
}
