body,
html {
  width: 100vw;
  height: 100vh;

  color: #525252;
  background: #eaeaea;

  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
}

body {
  display: flex;
  overflow-x: hidden;

  font-size: 16px;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #161616;
  margin: 0px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

button {
  border: none;
  background: 0;
}
