@import "@/styles/mixins.scss";

.main {
  display: flex;
  z-index: 2;
  color: #fff;
  background: rgb(244, 244, 244);

  flex-direction: column;

  * {
    color: rgb(82, 82, 82);
  }

  p,
  li {
    font-size: 1.15rem;
  }

  &__section {
    padding: 20% 10%;
    display: flex;
    position: relative;
    overflow: hidden;

    @include respond-to-md {
      padding: 10%;
    }

    @include respond-to-xl {
      padding: 10% 12.5%;
    }

    &__leveled {
      gap: 0.5rem;
      width: 100%;
      display: flex;
      transform: skewY(5deg);
      flex-direction: column;

      @include respond-to-lg {
        width: 48rem;
      }

      @include respond-to-xl {
        width: 52rem;
      }

      &:nth-of-type(4) {
        background: red;
        @include respond-to-lg {
          width: 48rem;
        }

        @include respond-to-xl {
          width: 52rem;
        }
      }
    }

    &:nth-child(odd) {
      z-index: 1;
      transform: skewY(-5deg);
      background: rgb(82, 82, 82);
      box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      // Generated background animation with https://animated-gradient-background-generator.netlify.app/
      background: linear-gradient(300deg, rgb(0, 167, 223), rgb(48, 48, 255));
      background-size: 120% 120%;
      animation: gradient-animation 3s ease infinite;

      * {
        color: #fff;
      }
    }

    &:first-of-type {
      margin-top: -5vw;
    }

    &:nth-last-of-type(2) {
      justify-content: center;
    }

    &:last-of-type {
      margin-top: -2rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      justify-content: flex-end;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
