.impact {
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
  flex-direction: column;

  &__item {
    gap: 0.5rem;
    width: 100%;
    height: 2rem;
    display: flex;

    &__icon {
      width: 1.75rem;
      height: auto;
      margin-top: 0.25rem;
      object-fit: contain;
    }

    &__slider {
      height: 1.25rem;
      border: 2px solid #000;
      display: block;
      position: relative;
      background: repeating-linear-gradient(45deg, #feb12c, #feb12c 1rem, #e5e5f7 1rem, #e5e5f7 1.5rem);
      margin-top: 0.375rem;

      &::before {
        left: -2px;
        width: 2px;
        height: 2rem;
        content: "";
        position: absolute;
        background: #000;
        margin-top: -0.375rem;
      }
    }

    &:nth-of-type(2) > span {
      background: repeating-linear-gradient(45deg, #a2681b, #a2681b 1rem, #e5e5f7 1rem, #e5e5f7 1.5rem);
    }

    &:nth-of-type(3) > span {
      background: repeating-linear-gradient(45deg, #0269f8, #0269f8 1rem, #e5e5f7 1rem, #e5e5f7 1.5rem);
    }
  }
}