.input_text {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  &__label {
    color: #fff;

    font-size: 3.5rem;
    font-weight: 600;

    line-height: 1.2;
    margin-bottom: 2.5rem;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 1rem 1rem 1rem 1.5rem;

    box-sizing: border-box;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.075);

    font-size: 1rem;
    border-radius: 25rem;
  }

  &__submit {
    top: 50%;
    right: 0.25rem;
    width: 11rem;
    position: absolute;
    transform: translateY(-50%);
  }

  &__wrapper {
    position: relative;
  }
}
