.background {
  inset: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  background: #3586ff;
  transition: background 0.5s ease-in-out;

  &__island {
    left: 5vw;
    width: 20rem;
    bottom: -20rem;
    height: auto;
    z-index: 4;
    position: absolute;
    animation: island 5s ease-in-out infinite alternate;
    transition: all 0.5s ease-in-out;

    &:nth-of-type(2) {
      left: calc(50% - 10rem);
      animation-delay: 1.5s;
    }

    &:nth-of-type(3) {
      right: 5vw;
      left: auto;
      animation-delay: 3s;
    }
  }

  @keyframes island {
    0% {
      transform: rotate(-3deg) scale(1.01);
    }
    100% {
      transform: rotate(3deg) scale(0.99);
    }
  }

  &__suspense {
    width: 100vw;
    height: 100vh;
    position: relative;

    &__doodle {
      width: auto;
      position: absolute;
      position: absolute;
    }
  }
}
